body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:871px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:871px;
}
#u495 {
  position:absolute;
  left:2px;
  top:428px;
  width:1252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  position:absolute;
  left:252px;
  top:793px;
  width:801px;
  height:71px;
}
#u497 {
  position:absolute;
  left:2px;
  top:28px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3333FF;
}
#u498 {
  position:absolute;
  left:725px;
  top:296px;
  width:294px;
  height:53px;
  font-size:18px;
  color:#3333FF;
}
#u499 {
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3333FF;
}
#u500 {
  position:absolute;
  left:727px;
  top:378px;
  width:294px;
  height:53px;
  font-size:18px;
  color:#3333FF;
}
#u501 {
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3333FF;
}
#u502 {
  position:absolute;
  left:729px;
  top:463px;
  width:294px;
  height:53px;
  font-size:18px;
  color:#3333FF;
}
#u503 {
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3333FF;
}
#u504 {
  position:absolute;
  left:729px;
  top:544px;
  width:294px;
  height:53px;
  font-size:18px;
  color:#3333FF;
}
#u505 {
  position:absolute;
  left:2px;
  top:16px;
  width:290px;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:130px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  position:absolute;
  left:-12px;
  top:-28px;
  width:1268px;
  height:130px;
}
#u507 {
  position:absolute;
  left:2px;
  top:57px;
  width:1264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u508 {
  position:absolute;
  left:227px;
  top:16px;
  width:103px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u508_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u508.mouseOver {
}
#u509 {
  position:absolute;
  left:2px;
  top:29px;
  width:99px;
  word-wrap:break-word;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u510 {
  position:absolute;
  left:438px;
  top:16px;
  width:72px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u510_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u510.mouseOver {
}
#u511 {
  position:absolute;
  left:2px;
  top:29px;
  width:68px;
  word-wrap:break-word;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u512 {
  position:absolute;
  left:343px;
  top:16px;
  width:87px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u512_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u512.mouseOver {
}
#u513 {
  position:absolute;
  left:2px;
  top:29px;
  width:83px;
  word-wrap:break-word;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u516 {
  position:absolute;
  left:543px;
  top:14px;
  width:101px;
  height:70px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u516_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u516.mouseOver {
}
#u517 {
  position:absolute;
  left:2px;
  top:27px;
  width:97px;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u518 {
  position:absolute;
  left:543px;
  top:84px;
  width:101px;
  height:43px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u518_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u518.mouseOver {
}
#u519 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u520 {
  position:absolute;
  left:543px;
  top:127px;
  width:101px;
  height:39px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u520_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u520.mouseOver {
}
#u521 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u522 {
  position:absolute;
  left:1070px;
  top:16px;
  width:71px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u522_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u522.mouseOver {
}
#u523 {
  position:absolute;
  left:2px;
  top:29px;
  width:67px;
  word-wrap:break-word;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u525 {
  position:absolute;
  left:704px;
  top:90px;
  width:82px;
  height:41px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u525_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u525.mouseOver {
}
#u526 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u527 {
  position:absolute;
  left:704px;
  top:16px;
  width:82px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u527_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u527.mouseOver {
}
#u528 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  word-wrap:break-word;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u529 {
  position:absolute;
  left:704px;
  top:129px;
  width:82px;
  height:39px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u529_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u529.mouseOver {
}
#u530 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:102px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:102px;
  color:#FFFFFF;
}
#u532 {
  position:absolute;
  left:2px;
  top:18px;
  width:203px;
  word-wrap:break-word;
  text-shadow:3px 3px 5px rgba(255, 51, 0, 0.349019607843137);
  -webkit-text-shadow:3px 3px 5px rgba(255, 51, 0, 0.349019607843137);
  -moz-text-shadow:3px 3px 5px rgba(255, 51, 0, 0.349019607843137);
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
}
#u533 {
  position:absolute;
  left:237px;
  top:301px;
  width:212px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3399FF;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:52px;
}
#u535 {
  position:absolute;
  left:248px;
  top:225px;
  width:50px;
  height:52px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u536 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#3333FF;
}
#u537 {
  position:absolute;
  left:585px;
  top:215px;
  width:21px;
  height:16px;
  font-size:36px;
  color:#3333FF;
}
#u538 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  visibility:hidden;
  white-space:nowrap;
}
#u539 {
  position:absolute;
  left:729px;
  top:678px;
  width:140px;
  height:25px;
}
#u539_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#3333FF;
  text-align:center;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u540 {
  position:absolute;
  left:935px;
  top:678px;
  width:190px;
  height:22px;
  font-size:18px;
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u542 {
  position:absolute;
  left:357px;
  top:498px;
  width:537px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u543 {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u544 {
  position:absolute;
  left:983px;
  top:30px;
  width:36px;
  height:50px;
}
#u545 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u546 {
  position:absolute;
  left:283px;
  top:806px;
  width:50px;
  height:50px;
}
#u547 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u548 {
  position:absolute;
  left:593px;
  top:806px;
  width:50px;
  height:50px;
}
#u549 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u550 {
  position:absolute;
  left:492px;
  top:806px;
  width:50px;
  height:50px;
}
#u551 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u552 {
  position:absolute;
  left:891px;
  top:813px;
  width:50px;
  height:36px;
}
#u553 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u554 {
  position:absolute;
  left:382px;
  top:806px;
  width:50px;
  height:50px;
  color:#FF0000;
}
#u555 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u556 {
  position:absolute;
  left:986px;
  top:806px;
  width:36px;
  height:50px;
}
#u557 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u558 {
  position:absolute;
  left:697px;
  top:811px;
  width:50px;
  height:40px;
}
#u559 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u560 {
  position:absolute;
  left:798px;
  top:811px;
  width:50px;
  height:41px;
}
#u561 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:102px;
}
#u562 {
  position:absolute;
  left:1117px;
  top:0px;
  width:139px;
  height:102px;
}
#u563 {
  position:absolute;
  left:2px;
  top:43px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
