body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2827px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1201px;
  height:2827px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1406px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:454px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:-19px;
  width:1201px;
  height:454px;
}
#u3 {
  position:absolute;
  left:2px;
  top:220px;
  width:1197px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:128px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:-28px;
  width:1200px;
  height:128px;
}
#u5 {
  position:absolute;
  left:2px;
  top:56px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u6 {
  position:absolute;
  left:158px;
  top:16px;
  width:102px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u6_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:29px;
  width:98px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u8 {
  position:absolute;
  left:454px;
  top:16px;
  width:67px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u8_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:29px;
  width:63px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u10 {
  position:absolute;
  left:370px;
  top:16px;
  width:72px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u10_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:29px;
  width:68px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u12 {
  position:absolute;
  left:273px;
  top:16px;
  width:87px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u12_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:29px;
  width:83px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u16 {
  position:absolute;
  left:632px;
  top:16px;
  width:100px;
  height:70px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u16_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u18 {
  position:absolute;
  left:632px;
  top:86px;
  width:100px;
  height:43px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u18_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u20 {
  position:absolute;
  left:632px;
  top:129px;
  width:100px;
  height:39px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u20_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u22 {
  position:absolute;
  left:1113px;
  top:16px;
  width:70px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u22_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:4px 4px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 4px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 4px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:29px;
  width:66px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u24 {
  position:absolute;
  left:1015px;
  top:16px;
  width:71px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u24_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:29px;
  width:67px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u26 {
  position:absolute;
  left:531px;
  top:16px;
  width:87px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u26_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:29px;
  width:83px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u29 {
  position:absolute;
  left:754px;
  top:90px;
  width:82px;
  height:41px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u29_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u31 {
  position:absolute;
  left:754px;
  top:16px;
  width:82px;
  height:74px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u31_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u33 {
  position:absolute;
  left:754px;
  top:129px;
  width:82px;
  height:39px;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u33_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Big John';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:-18px;
  top:435px;
  width:1219px;
  height:369px;
}
#u36 {
  position:absolute;
  left:2px;
  top:154px;
  width:1215px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:324px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:0px;
  top:804px;
  width:1200px;
  height:324px;
}
#u38 {
  position:absolute;
  left:2px;
  top:116px;
  width:1196px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:295px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:0px;
  top:1128px;
  width:1200px;
  height:295px;
}
#u40 {
  position:absolute;
  left:2px;
  top:110px;
  width:1196px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:430px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:0px;
  top:1388px;
  width:1200px;
  height:430px;
}
#u42 {
  position:absolute;
  left:2px;
  top:208px;
  width:1196px;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:296px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:0px;
  top:1828px;
  width:1200px;
  height:296px;
}
#u44 {
  position:absolute;
  left:2px;
  top:140px;
  width:1196px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:266px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:0px;
  top:2124px;
  width:1200px;
  height:266px;
}
#u46 {
  position:absolute;
  left:2px;
  top:95px;
  width:1196px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1267px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:-67px;
  top:2764px;
  width:1267px;
  height:56px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:1263px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:194px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Impact Normal', 'Impact';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u49 {
  position:absolute;
  left:0px;
  top:2371px;
  width:1200px;
  height:194px;
  font-family:'Impact Normal', 'Impact';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u50 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:222px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:770px;
  top:203px;
  width:430px;
  height:222px;
}
#u52 {
  position:absolute;
  left:2px;
  top:73px;
  width:426px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:770px;
  top:100px;
  width:430px;
  height:103px;
}
#u54 {
  position:absolute;
  left:2px;
  top:44px;
  width:426px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u55 {
  position:absolute;
  left:185px;
  top:1588px;
  width:79px;
  height:71px;
}
#u56 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:190px;
  top:1669px;
  width:70px;
  height:64px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u59 {
  position:absolute;
  left:185px;
  top:1433px;
  width:79px;
  height:71px;
}
#u60 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:190px;
  top:1514px;
  width:70px;
  height:64px;
}
#u62 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u63 {
  position:absolute;
  left:399px;
  top:1433px;
  width:79px;
  height:71px;
}
#u64 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:404px;
  top:1514px;
  width:70px;
  height:64px;
}
#u66 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u67 {
  position:absolute;
  left:399px;
  top:1588px;
  width:79px;
  height:71px;
}
#u68 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:404px;
  top:1669px;
  width:70px;
  height:64px;
}
#u70 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u71 {
  position:absolute;
  left:691px;
  top:1588px;
  width:79px;
  height:71px;
}
#u72 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:696px;
  top:1669px;
  width:70px;
  height:64px;
}
#u74 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u75 {
  position:absolute;
  left:961px;
  top:1433px;
  width:79px;
  height:71px;
}
#u76 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:966px;
  top:1514px;
  width:70px;
  height:64px;
}
#u78 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u79 {
  position:absolute;
  left:695px;
  top:1433px;
  width:79px;
  height:71px;
}
#u80 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:700px;
  top:1514px;
  width:70px;
  height:64px;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u83 {
  position:absolute;
  left:957px;
  top:1588px;
  width:79px;
  height:71px;
}
#u84 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:962px;
  top:1669px;
  width:70px;
  height:64px;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u87 {
  position:absolute;
  left:125px;
  top:1865px;
  width:79px;
  height:71px;
}
#u88 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:233px;
  top:1868px;
  width:260px;
  height:64px;
}
#u90 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u91 {
  position:absolute;
  left:125px;
  top:1962px;
  width:79px;
  height:71px;
}
#u92 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:233px;
  top:1965px;
  width:260px;
  height:64px;
}
#u94 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u95 {
  position:absolute;
  left:125px;
  top:2053px;
  width:79px;
  height:71px;
}
#u96 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:233px;
  top:2056px;
  width:260px;
  height:64px;
}
#u98 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u99 {
  position:absolute;
  left:691px;
  top:1865px;
  width:79px;
  height:71px;
}
#u100 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  position:absolute;
  left:799px;
  top:1868px;
  width:260px;
  height:64px;
}
#u102 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u103 {
  position:absolute;
  left:691px;
  top:1962px;
  width:79px;
  height:71px;
}
#u104 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:799px;
  top:1965px;
  width:260px;
  height:64px;
}
#u106 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:71px;
}
#u107 {
  position:absolute;
  left:691px;
  top:2053px;
  width:79px;
  height:71px;
}
#u108 {
  position:absolute;
  left:2px;
  top:28px;
  width:75px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:799px;
  top:2056px;
  width:260px;
  height:64px;
}
#u110 {
  position:absolute;
  left:2px;
  top:24px;
  width:256px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:20px;
  top:2390px;
  width:184px;
  height:39px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:20px;
  top:2526px;
  width:184px;
  height:39px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:20px;
  top:2460px;
  width:184px;
  height:39px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:20px;
  top:2526px;
  width:184px;
  height:39px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:233px;
  top:2390px;
  width:184px;
  height:39px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:233px;
  top:2460px;
  width:184px;
  height:39px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:233px;
  top:2526px;
  width:184px;
  height:39px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:452px;
  top:2390px;
  width:184px;
  height:39px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:452px;
  top:2526px;
  width:184px;
  height:39px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:682px;
  top:2390px;
  width:184px;
  height:39px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:682px;
  top:2460px;
  width:184px;
  height:39px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:682px;
  top:2526px;
  width:184px;
  height:39px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:933px;
  top:2390px;
  width:184px;
  height:39px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:933px;
  top:2460px;
  width:184px;
  height:39px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:933px;
  top:2526px;
  width:184px;
  height:39px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:100px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:2px;
  top:16px;
  width:152px;
  word-wrap:break-word;
  text-shadow:3px 3px 5px rgba(255, 51, 0, 0.349019607843137);
  -webkit-text-shadow:3px 3px 5px rgba(255, 51, 0, 0.349019607843137);
  -moz-text-shadow:3px 3px 5px rgba(255, 51, 0, 0.349019607843137);
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:125px;
  top:2691px;
  width:801px;
  height:73px;
}
#u144 {
  position:absolute;
  left:2px;
  top:28px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u145 {
  position:absolute;
  left:156px;
  top:2704px;
  width:50px;
  height:50px;
}
#u146 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u147 {
  position:absolute;
  left:466px;
  top:2704px;
  width:50px;
  height:50px;
}
#u148 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u149 {
  position:absolute;
  left:365px;
  top:2704px;
  width:50px;
  height:50px;
}
#u150 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u151 {
  position:absolute;
  left:764px;
  top:2711px;
  width:50px;
  height:36px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u153 {
  position:absolute;
  left:255px;
  top:2704px;
  width:50px;
  height:50px;
  color:#FF0000;
}
#u154 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u155 {
  position:absolute;
  left:859px;
  top:2704px;
  width:36px;
  height:50px;
}
#u156 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u157 {
  position:absolute;
  left:570px;
  top:2709px;
  width:50px;
  height:40px;
}
#u158 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u159 {
  position:absolute;
  left:671px;
  top:2709px;
  width:50px;
  height:41px;
}
#u160 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:335px;
}
#u161 {
  position:absolute;
  left:-19px;
  top:100px;
  width:476px;
  height:335px;
}
#u162 {
  position:absolute;
  left:2px;
  top:160px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
